h1, h2 {
  color: #333;
  text-align: center;
}
.cell {
  display: inline-block;       
  border: 1px solid #333;
  width: 20px;
  height: 20px;
  margin-left: -1px;
  margin-bottom: -1px;
  }
.off {
  background-color: #fff;
}
.on {
  background-color:#333;
}
/* .cell:hover { 
  background: #999;
} */
.container {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}
button {
  background-color: #fff;
  height: 50px;
}
.grid { 
  line-height: 0;  
  margin-top: 20px;
}